[Unit]
Description=NodeJS server for chat

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/node /media/Foxi/Projects/chat/js/server

[Install]
WantedBy=multi-user.target

