Description=SASS watchdog for rapgame

[Service]
User=rapgame
Type=simple
Restart=always
ExecStart=/usr/bin/sass --watch /media/Foxi/Data/Server/rapgame/css/sass:/media/Foxi/Data/Server/rapgame/css

[Install]
WantedBy=multi-user.target
