[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/oxson/dotbot-yay.git
[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/plugged/vim-bufferline"]
	path = vim/plugged/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/plugged/snow"]
	path = vim/plugged/snow
	url = https://github.com/nightsense/snow.git
[submodule "config/spicetify/Themes/spicetify-themes"]
	path = config/spicetify/Themes/spicetify-themes
	url = https://github.com/morpheusthewhite/spicetify-themes.git
[submodule "config/ulauncher/user-themes/palenight"]
	path = config/ulauncher/user-themes/palenight
	url = https://github.com/fsrocha-dev/ulauncher-palenight-theme.git
[submodule ".oh-my-zsh/custom/plugins/autoupdate"]
	path = .oh-my-zsh/custom/plugins/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".oh-my-zsh/custom/plugins/zsh-auto-notify"]
	path = .oh-my-zsh/custom/plugins/auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "local/share/ulauncher/extensions/com.github.melianmiko.ulauncher-bluetoothd"]
	path = local/share/ulauncher/extensions/com.github.melianmiko.ulauncher-bluetoothd
	url = https://github.com/melianmiko/ulauncher-bluetoothd.git
[submodule "local/share/ulauncher/extensions/com.github.the-lay.ulauncher-spotify-api"]
	path = local/share/ulauncher/extensions/com.github.the-lay.ulauncher-spotify-api
	url = https://github.com/the-lay/ulauncher-spotify-api.git
[submodule "local/share/ulauncher/extensions/com.github.lexicon9.ulauncher-aur-plugin"]
	path = local/share/ulauncher/extensions/com.github.lexicon9.ulauncher-aur-plugin
	url = https://github.com/Lexicon9/ulauncher-aur-plugin.git
[submodule "local/share/ulauncher/extensions/com.github.floydjohn.ulauncher-chrome-profiles"]
	path = local/share/ulauncher/extensions/com.github.floydjohn.ulauncher-chrome-profiles
	url = https://github.com/FloydJohn/ulauncher-chrome-profiles.git
