[Unit]
Description=Prusa MINI USB sync script
Requires=media-PRUSA_MINI.mount
After=media-PRUSA_MINI.mount

[Service]
ExecStart=/home/istokm/.scripts/sync-media-prusa_mini.sh

[Install]
WantedBy=media-PRUSA_MINI.mount
