[Unit]
Description=Sync media when the MK3S mount is created
Requires=run-media-niraami-MK3S.mount
After=run-media-niraami-MK3S.mount

[Service]
Type=oneshot
ExecStart=sync-files --unmount %h/Media/GCODE/MK3S/ /run/media/niraami/MK3S

[Install]
WantedBy=run-media-niraami-MK3S.mount

