[Unit]
Description=Sync media when the MK3S mount is created
Requires=run-media-niraami-MK3S.mount
After=run-media-niraami-MK3S.mount

[Service]
Type=oneshot
ExecStart=%h/.scripts/media-sync.sh %h/Media/GCODE/MK3S /media/MK3S --unmount

[Install]
WantedBy=run-media-niraami-MK3S.mount

