[Unit]
Description=Refresh weather information used by waybar
After=graphical-session.target

StartLimitBurst=2
StartLimitIntervalSec=60

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/.config/waybar/scripts/waybar-wttr.py

Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
