[Unit]
Description=Refresh list of package updates hourly

[Timer]
OnCalendar=hourly
AccuracySec=1h
Unit=waybar-updates.service
Persistent=false

[Install]
WantedBy=timers.target
