[Unit]
Description=Refresh package update information used by waybar hourly

[Timer]
OnCalendar=hourly
AccuracySec=1h
Unit=waybar-updates.service
Persistent=true

[Install]
WantedBy=timers.target
