[Desktop Entry]
Name=Discord (parallel)
StartupWMClass=discord
Comment=Launches a parallel discord instance, minimized
GenericName=Internet Messenger
Exec=sh -c "~/.scripts/discord-parallel --start-minimized"
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
